body{
    width: 800px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    list-style: none;
    height: 50px;
}

nav li{
    flex-grow: 1;
    height: 100%;
}

nav li a{
    display: block;
    background-color: antiquewhite;
    margin: 0 10px;
    height: 100%;
}

nav li a:hover{
    background-color: brown;
    color: antiquewhite;
}

nav li a:focus{
    border: 2px solid black;
}

nav li a:active{
    background-color: darkblue;
}

.skiplinks ul{
    list-style: none;
    position: relative;
}
.skiplinks a{
    position: absolute;
    top: -10em;
}
.skiplinks a:focus{
    top: 0px;
    background-color: darkorange;
    display: block;
    padding: 10px;
} 
input:focus{
    border: 2px solid black;
}